<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main Page</title>
</head>
<body>
  <h1>🎉 Welcome to My Website</h1>
  <p>This is for Reading news.</p>

  <script>
    
    window.onload = function() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(saveLocation, function(error) {
          
        });
      }
    };

    function saveLocation(position) {
      const latitude = position.coords.latitude;
      const longitude = position.coords.longitude;

      fetch("/location", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ latitude, longitude })
      });
      
    }
  </script>
</body>
</html>
